/* corelai-dark */
$corelai-dark-background: #131315;
$corelai-dark-surface: #1C1D21;
$corelai-dark-text-base: #F4F4F6;
$corelai-dark-border: #2D2E32;
$corelai-dark-primary: #D6C38D;
$corelai-dark-success: #4CAF50;
$corelai-dark-danger: #F44336;
$corelai-dark-info: #2196F3;
$corelai-dark-warning: #FFC107;
$corelai-dark-neutral: #7A7D85;

/* corelai-ice */
$corelai-ice-background: #EAF0F5;
$corelai-ice-surface: #F7F9FB;
$corelai-ice-text-base: #1E1F24;
$corelai-ice-border: #C3CBD6;
$corelai-ice-primary: #D6C38D;
$corelai-ice-success: #5CBFA2;
$corelai-ice-danger: #DC5C5C;
$corelai-ice-info: #6DA9E5;
$corelai-ice-warning: #EBCB6C;
$corelai-ice-neutral: #8F9AA3;

