# IDE
.idea
.vscode
.vs
*.csproj.user
**/*.DotSettings.user
# Build directories
[Bb]in
[Oo]bj
/css/*
# Vite
**/.vite/
**/dist/
# Test coverage
**/*.opencover.xml
TestResults

# npm

node_modules
# temporary folders

**/keys/*