@theme {

    /* Color Gold Scale */
    --color-gold: var(--color-gold-300); /* Base */

    --color-gold-50:  #f9f7ef;
    --color-gold-100: #f3efdb;
    --color-gold-200: #e6deba;
    --color-gold-300: #d6c38d;
    --color-gold-400: #bfa970;
    --color-gold-500: #a58f58;
    --color-gold-600: #897447;
    --color-gold-700: #6d5b38;
    --color-gold-800: #53452b;
    --color-gold-900: #3c3320;
    --color-gold-950: #221d12;

    --border-gradient-gold: linear-gradient(
            to right,
            var(--color-gold-100) 0%,
            var(--color-gold-400) 20%,
            var(--color-gold-600) 30%,
            var(--color-gold-300) 45%,
            var(--color-gold-100) 50%,
            var(--color-gold-300) 55%,
            var(--color-gold-600) 70%,
            var(--color-gold-400) 80%,
            var(--color-gold-100) 100%
    );

    --font-orbitron: 'Orbitron', sans-serif;
    --font-oxanium: 'Oxanium', sans-serif;
    --font-encode: 'Encode Sans Expanded', sans-serif;
    --color-background: var(--color-zinc-100);
    --color-primary: var(--color-zinc-50);
    --color-primary-surface: var(--color-zinc-700);
    --color-secondary:  var(--color-zinc-200);
    --color-secondary-surface: var(--color-zinc-800);
    --color-normal: var(--color-zinc-950);
    --color-division:  var(--color-gold-200);
    --color-division-surface: var(--color-gold-500);

}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));


@layer base {
    @variant dark {
        --color-background: var(--color-black);
        --color-primary: var(--color-zinc-300);
        --color-primary-surface: var(--color-zinc-900);
        --color-secondary: var(--color-zinc-400);
        --color-secondary-surface: var(--color-zinc-950);
        --color-normal: var(--color-zinc-300);
    }
}