@import "tailwindcss";

html, body, #root {
    @apply h-full;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));


@theme {
    --color-background: var(--color-zinc-50);
    --color-primary: var(--color-slate-700);
    --color-secondary: #D6C38D;
}

@layer base {
    @variant dark {
        --color-background: var(--color-zinc-900);
        --color-primary: #D6C38D;
        --color-secondary: var(--color-slate-700);
    }
}